<header class="main-header">

  <div class="bg-orb orb-1"></div>
  <div class="bg-orb orb-2"></div>
  <div class="bg-orb orb-3"></div>

  <div class="container nav-container">

    <div class="logo">
      NewEcoSun HVAC
    </div>

    <div class="mobile-toggle" id="mobileToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav id="navbar">
      <ul>
        <li><a href="index.html">Acasă</a></li>
        <li><a href="servicii.html">Servicii</a></li>
        <li><a href="mentenanta.html">Mentenanță</a></li>
        <li><a href="calculator.html">calculator</a></li>
        <li><a href="despre.html">Despre noi</a></li>
        <li><a href="portofoliu.html">Portofoliu</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

  </div>
</header>